.filter-container {
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    background-color: #231F20;
    padding: 2%;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

input {
    background-color: white;
    color: #231F20;
    padding: 10px;
    margin: 10px;
    border: 1px solid white;
    border-radius: 10px;

}

.slider {
    color: white;
    padding: 0;
}

.search {
    display: flex;
}

.checkbox {
    width: 30px;
    height: 30px;

}

.checkbox-container {
    display: flex;
    align-items: center;
}