.name {
    padding: 0px 20px;
    font-weight: 1000;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 15px;
    border-bottom: 1px solid white;
    align-items: center;
    position: fixed; 
    margin: 0;
    top: 0; 
    right: 0; 
    left: 0;
    background-color: #e23636;
}

nav ul li {
    display: inline-block;
    padding: 0px 20px;
}

nav ul li a {
    transition: all 0.3s ease 0s;
    color: white;
}

nav ul li a:hover {
    transition: all 0.3s ease 0s;
    color:#231F20;
}