.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    gap: 10px;
    padding: 50px;
    background-color: #231F20;
    border-radius: 25px;
    width: 60%;
}
  
img {
    width: 100%;
    height: auto;
}

.title {
    margin: 0;
    padding: 0;
    height: 50px;
}

.card {
    margin: 10px;
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        padding: 25px;
        width: 90%;
    }
}

  