.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    gap: 10px;
    padding: 50px;
    background-color: #231F20;
    border-radius: 25px;
    width: 60%;
    margin: 10px;
}
  
img {
    width: 100%;
    height: auto;
}

.title {
    margin: 0;
    padding: 0;
    height: 50px;
}

.card {
    margin: 0px;
    padding: 15px;
    transition: all 0.3s;
    cursor: pointer;
    border-radius: 25px;
}

.card:hover {
    box-shadow: 0 0 30px white;
    border-color: white;
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        padding: 25px;
        width: 90%;
        margin: 5px;
    }
}

  