.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    gap: 10px;
    padding: 50px;
    background-color: #231F20;
    border-radius: 25px;
    width: 60%;
    margin: 10px;
}
  
img {
    width: 100%;
    height: auto;
}

.title {
    margin: 0;
    padding: 0;
    height: 50px;
}

.card {
    margin: 15px;
    padding: 0px;
    transition: all 0.3s;
    cursor: pointer;
    border-radius: 25px;
    color: white;
    font-weight: normal;
    font-size: medium;
}

.card:hover {
    transition: all 0.3s;
    cursor: pointer;
    color: #e23636;
    font-size: medium;
    font-weight: bold;
    transform: translate3D(0,-1px,0) scale(1.2);
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        padding: 25px;
        width: 90%;
        margin: 5px;
    }

    .card {
        font-size: small;
    }
}

  