.total-comic-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    gap: 10px;
    padding: 10px;
}
  
.img-card {
    margin: 0;
    padding: 0;
}

.img-wrapper {
    display: flex;
}
  
img {
    width: 100%;
    height: auto;
}

.title {
    margin: 0;
    padding: 0;
    height: 50px;
}

.comic-card {
    margin-top: 10px;
}


  