.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    justify-content: center;
}

.card {
    color: #e23636;
    background-color: white;
    font-weight: bolder;
    margin: 10px;
    padding: 2%;
    border-radius: 15px;
}

b {
    color:#231F20;
    display: inline-flex;
}

@media (max-width: 768px) {
    .card {
        font-size: small;
    }
}